<h3>Admin Dashboard</h3>
<div class='col-md-12'>
<div class='dashboard'>
</div>
</div>
<div class='col-md-12'>
<table class='animated slideInDown table table-bordered'>
  <thead>
    <tr class="success">
      <th>Name</th>
      <th>Email</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
    <td><%= user.first_name %> <%= user.last_name %></td>
    <td><%= user.email %></td>
    <td><a href="/admin/<%=user.id%>">Events</a></td>
    <tr>
      <% end %>
    </tbody>
    </table>
    </div>
