<link rel="stylesheet/new.css" href="/stylesheets/new.css" media="screen">
<style media="screen">
  body {
    background-image: url(http://munro-pa.co.uk/wp-content/uploads/2013/09/Event-Management-Tag-Cloud.jpg);
    background-size: cover;
  }
</style>
<script type="text/javascript">
  $(function() {
    $('a.button').on('click', function(){
      $('#countymap').addClass('animated slideInDown');
      $('#countymap').removeClass('hidden');
    })
    $('a.close').on('click', function(){
      $('#countymap').removeClass('animated slideInDown');
        $('#countymap').addClass('animated slideOutUp');
    })
  });
</script>

<!-- <div class='container'> -->
<div class='row'>
  <div class='col-sm-6 col-md-4 col-lg-4' id='event'>
    <a class='animated zoomIn' id='createBack' href="/users">Back</a>
    <h3 id='event_title'> Create your own Event </h3>
    <form  action="/events" method="post" enctype="multipart/form-data">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type='hidden' name='user_id' value='<%= current_user.id%>'>

      <label for="name">Event Name</label>
      <input id='name' class='form-control input-sm' type="text" name="event[name]" placeholder="20 char max">

      <label for="date">Address</label>
      <input id='address' class='form-control input-sm' type="address" name="event[address]" placeholder="123 Hill St Los Angeles, CA 90001"><br>

      <div class='row'>
        <div class="col-xs-4">
          <label for="date">Event Date</label>
          <input id='date' class='form-control input-sm' type="date" name="event[date]" value=""><br>
        </div>
        <div class="col-xs-4">
          <label for="start">Start Time</label>
          <input id='start' class='form-control input-sm' type="time" name="event[start]" value=""><br>
        </div>
        <div class="col-xs-4">
          <label for="end">End Time</label>
          <input id='end' class='form-control input-sm' type="time" name="event[end]" value=""><br>
        </div>
      </div>
      <div class='row'>
        <div class="col-xs-4">
          <label for="capacity">Max Capacity</label>
          <input id='capacity' class='form-control input-sm' type="number" name="event[capacity]" value=""><br>
        </div>
        <div class="col-xs-4">
          <label for="price">Event Price?</label>
          <input id='price' class='form-control input-sm' type="text" name="event[price]" placeholder="10.00 or Free"><br>
        </div>
        <div class="col-xs-4">
          <label for="category">Category</label>
          <select id='category' class='form-control input-sm' name="event[category]" value="">
          <% @categories.each do |category| %>
          <option><%=category%></option>
          <<%end%>
        </select>
        </div>
      </div>
      <input type="hidden" name="event[state]" value="CA">

      <!-- <label for="description">Event Description</label> -->
      <textarea  id='description' class='form-control input-sm' type="text" name="event[description]"placeholder="Event Info, Description & Details"></textarea>

      <div class='row'>
        <div class="col-xs-4">
      <label for="county">Event County</label>
      <select id='county' class='form-control input-sm' name="event[county]">
        <% @counties.each do |county| %>
        <option><%=county%></option>
        <<%end%>
      </select>
    </div>
    <div class="col-xs-8">
      <label for='image'>Event Image</label>
      <input id='image' class='form-control input-sm' type="file" name="event[image]">
    </div>
      <a href="#countymap" class="button">Show County Map</a><br>
      <button type="submit" id='createEvent' class='btn-warning pull-right'>Create Event</button>
    </form>
  </div>
  </div>



  <div class="col-sm-6 col-md-8 col-lg-8" >
    <div id='countymap' class="hidden">
      <a href="#" class="close">Close Map</a><br><br>
    </div>
    <!-- <img src="http://www.los-angeles-paving.com/wp-content/uploads/2011/02/los-angeles-county.jpg" alt="" /> -->
  </div>
</div>
  <!-- </div> -->
